body {
  background-color: #f5f5f5;
}
a {
  text-decoration: none !important;
  color: #666;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (max-width: 991px) {
  .nav li {
    width: 20%;
    float: left;
  }
  article {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .nav a {
    padding-left: 3px !important;
  }
  article .news li {
    width: 50% !important;
  }
  article .news li:nth-child(1) {
    width: 100% !important;
  }
  .publish h3 {
    font-size: 14px;
  }
}
.container {
  background-color: #fff;
}
.container .row {
  margin: 0 -15px;
}
.container .row header {
  padding-left: 0;
}
.container .row header .logo {
  background-color: #429ad9;
}
.container .row header .logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.container .row header .logo span {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.container .row header .nav {
  background-color: #eeeeee;
  border-bottom: 1px solid #ccc;
}
.container .row header .nav li a {
  display: block;
  height: 50px;
  padding-left: 30px;
  line-height: 50px;
  font-size: 16px;
}
.container .row header .nav li a:hover {
  background-color: #fff;
  color: #333;
}
.container .row header .nav li a::before {
  vertical-align: middle;
  margin-right: 5px;
}
.container .row article .news ul li {
  float: left;
  width: 25%;
  height: 128px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.container .row article .news ul li>a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.container .row article .news ul li a img {
  width: 100%;
  height: 100%;
}
.container .row article .news ul li a p,
.carousel-caption{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  margin-bottom: 0;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.container .row article .news ul li:nth-child(1) {
  width: 50%;
  height: 266px;
}
.container .row article .news ul li:nth-child(1) .carousel-caption{
  padding: 0;
  line-height: 41px;
  font-size: 16px;
}
.container .row article .news ul li:nth-child(1) .carousel,
.container .row article .news ul li:nth-child(1) .carousel img{
  width: 100%;
  height: 266px;
}

.container .row article .news ul li:nth-child(1) p {
  line-height: 41px;
  padding: 0 10px;
  font-size: 20px;
}
.container .row article .publish .row {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}
.container .row article .publish .row .pic {
  margin-top: 20px;
}
.container .row article .publish .row .pic img {
  width: 100%;
}
.container .row aside img {
  width: 100%;
}
.container .row aside .hot {
  display: block;
  margin-top: 20px;
  padding: 0 20px 20px;
  border: 1px solid #ccc;
}
.container .row aside .hot span {
  border-radius: 0;
  margin-bottom: 20px;
}
.container .row aside .hot p {
  font-size: 12px;
}
